.content__wrapper {
  margin: 2rem;

  @include breakpoint-down(small) {
    margin: 2rem 2rem 0 2rem;
  }
}

.bill {
  &__field {
    width: 100%;
    height: 3rem;
    margin-top: .75rem;
    margin-bottom: 2.5rem;
    background: $lighter-grayish-cyan;
    border-radius: 4px;
  }

  img.dollar-icon {
    position: absolute;
    margin: 0 1.25rem;
  }
}

.tip-buttons {
  &__wrapper {
    @include custom-grid-fit("9.25rem", "1fr");
    margin-top: 1.25rem;
    grid-gap: .625rem;
  }

  &__btn {
    height: 3rem;

    &:not(:nth-last-child(1)) {

      &:hover {
        background: rgba($color: $strong-cyan, $alpha: .4);
        color: $very-dark-cyan;
      }

      &.active {
        background: $strong-cyan;
        color: $very-dark-cyan;
      }
    }
  }
}

.num-of-ppl {
  &__field {
    width: 100%;
    height: 3rem;
    margin-top: .75rem;
    background: $lighter-grayish-cyan;
    border-radius: 4px;
  }

  img.person-icon {
    position: absolute;
    margin: 0 1.25rem;
  }
}