// colors
$strong-cyan:hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$darker-grayish-cyan: hsl(186, 14%, 43%);
$dark-grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$lighter-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0, 100%);
$hover-color: #9FE8DF;
$warning: rgb(255, 70, 70);

// font sizes
$font-xsm: .5rem; // 8px
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.5rem; // 24px
$font-xlg: 3rem; // 48px